extends layout

block content
  h1= "Voting platform"
  h2= "List"
  form(action="/logout" method="post")
    button= "Logout"
  form(action="/votings/new" method="get")
    button= "Create vote"
  form(action="/my-votings" method="get")
    button= "View my votings"
  ul
    each voting in votings
      a(href=`/votings/${voting._id}`)
        h4 #{voting.title}
      div 생성자: #{voting.creator.name}
      div 만료일시: #{voting.expiredAt}
      div 진행 중 여부: #{voting.isInProgress}
