extends layout

block content
  h1= "Voting platform"
  h4 #{voting.title}
  div 생성자: #{voting.creator.name}
  div 만료일시: #{voting.expiredAt}
  div 진행 중 여부: #{voting.isInProgress}
  form(action=`/votings/${voting._id}` method="post")
    input(type="hidden" name="votingId" value=`${voting._id}`)
    each option in voting.options
      div
        input(
          type="radio"
          name="option"
          value=option._id
          disabled=!voting.isInProgress || hasVoted
        )
        label #{option.title}
        if option.count
          p #{option.count}명
    button 투표
  if isCurrentUserCreator
    div
      button(onclick="handleDeleteOnClick('" + voting._id+ "')") 삭제
  script(type="text/javascript").
    function handleDeleteOnClick(id) {
      fetch(`/votings/${id}/delete`, { method: "post" })
        .then(location.href = "/");
    }
  a(href="/")= "목록 페이지로 이동"
